<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <!-- 固有のデータセクションの定義 -->
    <configSections>
        <sectionGroup name="myCustomeGroup">
            <section name="myCustomGroup" type="PracticeForlog4net.CustomSection" />
        </sectionGroup>
    </configSections>
    
    <!-- Custom App settings -->
    <appSettings>
        <add key="TextColor" value="Green"/>
        <add key="RepeatTimes" value="8"/>
    </appSettings>
</configuration>